/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, yellow, black);
  }
  
  .login-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    color: white;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: white;
  }
  
  input:focus {
    outline: none;
    border-color: yellow;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: yellow;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #ffcc00;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }